/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

/* Main structure */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 8rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

/* Header style */
header {
  grid-area: header;
  background-color: #7a9e9f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  font-size: 4rem;
}

header img {
  height: 80%;
  padding: 1rem;
}

header a {
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}

a:hover {
  transform: scale(1.1);
}

/* Main section style */
main {
  grid-area: main;
  padding: 1rem;
}

.main-grid {
  /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 5rem 2fr 2fr 1fr 1fr;
  grid-template-areas:
    "location location location location location location searchbar searchbar"
    "weather-current weather-current weather-current weather-current weather-current weather-current weather-current weather-current"
    "weather-forecast weather-forecast weather-forecast weather-forecast weather-forecast weather-forecast weather-forecast weather-forecast"
    "astronomic astronomic astronomic astronomic astronomic astronomic astronomic astronomic"
    "airquality airquality airquality airquality airquality airquality airquality airquality"; */
  height: 100vh;
}

/* Searchbar style */

.searchbar {
  width: 30%;
}

form {
  position: relative;
  margin: 1.2rem 0;
  height: 60%;
  background: #7a9e9f;
  border-radius: 0.7rem;
  border: 1px solid black;
}
input,
button {
  height: 100%;
  border: 0;
  font-size: 1.8rem;
}
input[type='search'] {
  outline: 0;
  width: 100%;
  background: #e5f1f1;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.5s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  font-weight: bold;
  background: #7a9e9f;
  border-radius: 0 0.7rem 0.7rem 0;
}

input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 4rem);
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Location info section */
.location-now {
  /* grid-area: location; */
  display: flex;
}

.location-now-info {
  width: 10%;
}

.location-now-name,
.location-now-country {
  font-weight: 700;
  font-size: 1.3rem;
}

.location-now-datetime {
  font-size: 1.1rem;
}

.location-now-weather {
  width: 85%;
  height: 100%;
  display: flex;
}

.location-now-weather-icon {
  width: auto;
  height: 100%;
  margin-top: -10px;
  margin-left: 2rem;
}

.location-now-weather-icon-img {
  animation: slide-top 1.5s forwards;
}

.location-now-weather-text {
  width: auto;
  height: 100%;
  padding: 1.5rem;
  font-weight: 700;
}

.location-now-weather-temperature {
  width: auto;
  height: 100%;
  padding: 1.5rem;
  font-weight: 700;
}

/* Weather Today section  */

.weather-current {
  /* grid-area: weather-current; */
  /* background-color: #e5f1f1; */
  animation: slide-from-left 1s;
  margin-bottom: 6rem;
}

.weather-table {
  font-size: 1.4rem;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.weather-table td,
.weather-table th {
  border: 1px solid #c1ced1;
  text-align: left;
  padding: 8px;
  text-align: center;
  height: 16.66%;
}

.weather-table .header-row {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 8%;
}

.weather-table tr:nth-child(even) {
  background-color: #b8d8d8;
}

.weather-table img {
  min-width: 40%;
  padding: 0;
  margin: 0;
  animation: slide-top 1.5s forwards;
}

/* Weather Future section */

.weather-forecast {
  /* grid-area: weather-forecast; */
  /* background-color: #e5f1f1; */
  animation: slide-from-right 1s;
  margin-bottom: 6rem;
}

/* Astronomic section */

.astronomic {
  margin: 4rem 0;
  /* grid-area: astronomic; */
  /* background-color: #e5f1f1; */
}

.astronomic-table {
  font-size: 1.4rem;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.astronomic-table td,
.astronomic-table th {
  text-align: left;
  padding: 8px;
  text-align: center;
  width: 16.66%;
}

.astronomic-table .header-row {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.astronomic-table .sun {
  max-width: 20%;
}

.astronomic-table .moon {
  max-width: 27%;
}

.astronomic-table .moon.type2 {
  max-width: 17%;
}

.astronomic-table .moon.type3 {
  max-width: 17%;
}

/* Air quality section */

.airquality {
  margin: 6rem 0;
}

.airquality-table {
  font-size: 1.4rem;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.airquality-table td,
.airquality-table th {
  text-align: left;
  padding: 8px;
  width: 16.66%;
  text-align: center;
}

.airquality-table .header-row {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.airquality-table img {
  min-width: 15%;
}

/* Footer style */
footer {
  background-color: rgba(122, 158, 159, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;

  /* position: relative;
  bottom: 0;
  margin-top: 100vh; */

  position:fixed;
  bottom:0;
  left:0;
}

/* Animations */

@keyframes slide-from-right {
  100% {
    transform: translateX(0) rotateY(0);
  }
  0% {
    transform: translateX(300px) rotateY(0);
  }
}

@keyframes slide-from-left {
  100% {
    transform: translateX(0) rotateY(0);
  }
  0% {
    transform: translateX(-300px) rotateY(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
